.visible {
  animation: movein 0.5s ease forwards, moveout 0.5s 3s ease forwards;
}

@keyframes movein {
  from {
    top: -200px;
  }
  to {
    top: 10px;
  }
}

@keyframes moveout {
  from {
    top: 10px;
  }
  to {
    top: -200px;
  }
}
